<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhFUKAsrK1D9L8pQSEGtbRx3zcla2cJIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>425299538465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petitgram.petitgram</string>
	<key>PROJECT_ID</key>
	<string>petitgram-b48fd</string>
	<key>STORAGE_BUCKET</key>
	<string>petitgram-b48fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425299538465:ios:7b39f7d0877638a44d6960</string>
</dict>
</plist>